# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# VSCode / JetBrains IDEs
.vscode/
.idea/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
.cache/

# Uvicorn logs or runtime files
*.log

# Local dev secrets or configs (optional, only if you have them)
.env
.env.*
!.env.test-example
!.env.demo-example

# FIXME: not sure why is this directory being created, has something to do with [build-system]
smart_integration_ms.egg-info

# macOS specific files
.DS_Store
